@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
/*
		font-family: 'Raleway', sans-serif;
		font-family: 'Lato', sans-serif;
*/
body {
	margin: 20px 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #44545e;
	text-transform: uppercase;
}
main{
	display: grid;
	width: 80%;
	margin: 0 auto;
	grid-template-columns: 65% 30%;
	grid-gap: 50px;
}
/* Fix for responsive images */
img {
	max-width: 100%;
	margin: 20px 0 20px 0;
}
p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: capitalize;
	line-height: 1.5;
}
nav{
	text-align: center;
}
nav a{
	font-size: 16px;
	color: #7b98aa;
	text-decoration: none;
	padding: 0 50px 0 50px;
}
header{
	text-align: center;
	padding: 80px 0 80px 0;
	margin: 30px 0 50px 0;
	background-image: url(../images/blog_header_bg.jpg);
	background-size: cover;
	background-position: center;
}

h1 a{
	font-size: 37px;
	letter-spacing: 15px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
h2{
	font-size: 23px;
	letter-spacing: 2px;
}
h3{
	font-size: 18px;
}
footer{
	width: 100%;
	background-color: #cdf3f6;
	text-align: center;
	padding: 30px 0 10px 0;
	font-size: 30px;
	margin-top: 50px;
}
footer p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
footer a{
	letter-spacing: 1px;
	padding: 0 10px 0 10px;
	text-decoration: none;
	color: #44545e;
}
hr{
	width: 100%;
	color: #333333;
	margin: 20px 0 20px 0;
}
aside a{
	text-decoration: none;
	text-transform: capitalize;
	color: #7b98aa;
}
aside ul{
	padding-left: 20px;
}
aside li{
	line-height: 30px;
	font-weight: 400;
}
input{
	width: 30%;
	border: none;
	display: inline;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-transform: uppercase;
}
button{
	width: 20%;
	background-color: inherit;
	border: solid;
	border-width: 2px;
	border-color: #44545e;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px;
}
button:hover {
	background-color: #44545E;
	color: white;
}
a:hover {
	color: #44545E;
}
